@media (max-width: 1200px)
  .container,
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
@media (max-width: 992px)
  .newsletter-wrapper,
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px
    &-menu
      padding: 22px 13.5px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      display: flex
      flex-direction: column
    &-right
      flex-direction: row
    &-slider
      width: 100%
      margin-bottom: 30px
  .newsletter
    padding: 92px 0 93px 0
    &-tittle
      color: $light
      font-weight: 300
      font-size: 24px
      line-height: 30px
      margin: 0
  .booking
    padding: 28px 22px
    width: 340px
    height: 210px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 579px 
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 51px
  .activities
    padding-top: 0
    margin-top: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 16px
      border: none
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: $light
      cursor: pointer
      padding: 0
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
        &__rating
          display: none
      &__name
        margin-bottom: 0
        margin-top: 10px
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
  .stars
    flex-basis: auto
  .hotel
    &-right
      flex-direction: column
      height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .subscribe
    width: 100%
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .card
    width: 100%
@media (max-width: 576px)
  .container
    max-width: 280px
  .logo
    width: 99px
  .hotel
    padding: 0
    margin-top: 0
    margin-bottom: 40px
    &-slider
      height: 180px
      margin-bottom: 20px
    &-info
      padding-bottom: 38px
    &-right
      max-height: 403px
      padding-bottom: 0px
  .newsletter
    padding: 76px 0 83px 0
    height: 319px
    &__title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      margin-bottom: 37px
    &__subscribe
      width: 280px
    &-title
      &__strong
        margin-top: 5px
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .map
    height: 173px
  .reviews
    &__title
      width: 245px
      margin: auto
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
    &-slider
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -95px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -95px
  .activities
    padding-top:  0px
    margin-top: 22px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
      margin-top: 0px
    &__card
      height: 257px

