@media (max-width: 1200px)
  .container,
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-group
        flex-basis: 49%
    &__legal 
      margin-left: -28px
    &__additional
      margin-left: -28px
@media (max-width: 992px)
  a:hover
    color: inherit
  .newsletter-wrapper,
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px
    &-menu
      padding: 22px 13.5px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      display: flex
      flex-direction: column
    &-right
      flex-direction: row
    &-slider
      width: 100%
      margin-bottom: 30px
  .newsletter
    padding: 92px 0 93px 0
    &-tittle
      color: $light
      font-weight: 300
      font-size: 24px
      line-height: 30px
      margin: 0
  .booking
    padding: 28px 22px
    width: 340px
    height: 210px
  .map
    width: 340px
  .reviews
    &-slider
      &__profile
        margin-bottom: 30px
      &__button
        top: 50%
        &--prev
          left: 1px
        &--next
          right: 1px
      &__item
        max-width: 579px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 51px
  .activities
    padding-top: 0
    margin-top: 50px
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 22px
  .card
    width: 340px
    height: 254px
    &__title
      &--chamarel
        max-width: 160px
      &--golf
        max-width: 170px
      &--trip
        max-width: 170px
      &--quest
        max-width: 200px
  .packages
    &-wrapper
      max-width: 700px
      grid-template: 500px 500px 500px / 1fr 1fr
      grid-template-areas: "first first" "second third" "fourth fifth"
  .main
    &__image
      object-fit: cover
      &__title
        margin-bottom: 18px
      &__room
        margin-bottom: 20px
      &__info
        margin-top: 0px
        margin-bottom: 30px
        font-size: 12px
      &__text
        font-size: 10px
      &__button
        padding: 9px 14px
  .secondary
    &-booking
      &__button
        padding: 9px 14px
    &__image
      min-height: 230px
  .footer
    padding-top: 53px
    &-wrapper
      grid-template-columns: repeat(12, 1fr)
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 47%
    &__logo
      padding-top: 10px
      width: 97px
      grid-row: 1 / 2
      grid-column: span 2
    &__title
      margin-top: 6px
      margin-bottom: 19px
      &--inline
        margin-top: 27px
      &--mb-3
        margin-top: 4px
        margin-bottom: 26px
      &--mb-1
        margin-top: 16px
    &__social
      &-network
        padding-top: 22px
        padding-left: 6px
        grid-row: 1 / 2
        grid-column: span 7
        align-self: center
        justify-self: center
      &-links
        padding-top: 7px
    &__categories
      padding-left: 0
      grid-row: 2 / 3
      grid-column: span 3
    &__additional
      margin-left: 0
      padding-left: 23px
      grid-column: span 5
    &__legal
      margin-left: 0
      justify-self: start
      padding-left: 25px
      grid-column: span 4
    &__text
      margin-bottom: 18px
    &__icon
      margin-left: 5px
    &__contact
      &-details
        padding-top: 18px
        grid-row: 3
        grid-column: span 10
      &-form
        padding: 0
        grid-column: span 10
        grid-row: 4
        margin-bottom: 16px
    &__input
      flex-basis: 47%
    &__info
      font-size: 12px
    &__bottom
      &-links
        padding-left: 0
        justify-self: start
        grid-column: 1 / 7
      &-icon
        grid-column: 9 / 13
        justify-self: end
  .star
    &-reviews
      margin-right: 1px
      width: 9px
  .modal
    &__dialog
      padding: 33px 64px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 100
    &__user, &__search
      margin: 0
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__search
      &--mobile
        &--visible
          max-width: 250px
          max-height: 30px
    &-menu
      flex-direction: column
      justify-content: center
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
        overflow: auto
  .search
    &__button
      &--mobile
        &--visible
          max-width: 49px
  .menu
    &-button
      display: flex
      width: 16px
      height: 10px
      border: none
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: $light
      cursor: pointer
      padding: 0
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
        &__rating
          display: none
      &__name
        margin-bottom: 0
        margin-top: 10px
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
  .stars
    flex-basis: auto
  .hotel
    &-right
      flex-direction: column
      height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .card
    width: 49%
  .packages
    &-wrapper
      width: 100%
  .main
    &__image
      object-fit: cover
    &-booking
      padding: 46px 15px 25px 20px
      &__info
        font-size: 14px
        line-height: 18px
        margin-bottom: 25px
  .offer
    &-main
      font-size: 10px
      padding: 4px 10px 5px 9px
  .secondary
    &-booking
      padding: 19px 15px
      &__text
        margin-bottom: 3px
      &__room
        margin-bottom: 12px
    &__image
      min-height: 100px
  .footer 
    &__title
      font-size: 14px
    &__list 
      padding-left: 0
    &__input
      &-group
        flex-basis: 100%
    &__bottom
      &-links
        width: 296px
  .modal
    &__dialog
      padding: 33px 33px
      width: 80%
      min-width: 330px
@media (max-width: 576px)
  body
    padding-top: 48px
  .container
    max-width: 87%
  .navbar
    &-top
      padding-top: 10px
      padding-bottom: 20px
    &-bottom
      top: 48px
  .logo
    width: 99px
  .hotel
    padding: 0
    margin-top: 0
    margin-bottom: 40px
    &-slider
      height: 180px
      margin-bottom: 20px
    &-info
      padding-bottom: 38px
    &-right
      max-height: 403px
      padding-bottom: 0px
  .newsletter
    padding: 76px 0 83px 0
    height: 319px
    &__title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      margin-bottom: 37px
    &__subscribe
      width: 280px
    &-title
      &__strong
        margin-top: 5px
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .map
    height: 173px
  .reviews
    &__title
      width: 245px
      margin: auto
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
    &-slider
      &__button
        top: 30px
        &--prev
          left: 49%
          transform: translate(-50%, 0)
          margin-left: -95px
        &--next
          right: 54%
          transform: translate(50%, 0)
          margin-right: -95px
      &__text
        max-height: 250px
  .activities
    padding-top: 0px
    margin-top: 22px
    padding-bottom: 35px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
      margin-top: 0px
    &__card
      height: 257px
      &--first
        order: 1
      &--second
        order: 3
      &--third
        order: 2 
      &--fourth
        order: 4
  .card
    width: 100%
  .packages
    width: 100%
    &-wrapper
      max-width: 100%;
      grid-template: repeat(5, 500px)/repeat(5, 100%)
      grid-template-areas: "first" "second" "third" "fourth" "fifth"
      column-gap: 0px
    &__title
      width: 245px
      margin: auto
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
  .main
    flex-direction: column
    &__image
      min-width: 100%
      max-width: 100%
      height: 50%
    &-booking
      height: 50%
      width: 100%
      &__title
        font-size: 18px
        margin-top: 0px
        margin-bottom: 14px
      &__room
        margin-bottom: 12px
      &__text
        font-size: 14px
        margin-bottom: 3px
      &__info
        display: none
      &__button
        padding: 9px 14px
  .secondary
    &__image
      width: 100%
    &-booking
      &__title
        font-size: 18px
      &__text
        font-size: 14px
  .offer
    &-main
      border-radius: 0px 4px 4px 0px
      padding: 8px 12px 7px 11px
      top: 26px
      left: 0
      color: $light
      font-weight: 600
      font-size: 8px
      line-height: 10px
  .stars
    &__image
      display: none
  .footer
    &-wrapper
      grid-auto-rows: minmax(44px, min-content)
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__logo
      padding-top: 8px
      grid-row: 1
      grid-column: 1
    &__title
      margin: 0
      margin-right: 34px
      margin-bottom: 17px
      font-size: 18px 
      &--inline
        margin-top: 5px
        margin-bottom: 24px
      &--mb-1
        margin-bottom: 10px
    &__social
      &-network
        display: flex
        flex-wrap: wrap
        max-width: 240px
        justify-self: start
        padding: 0
        margin: 0
        grid-row: 2
        grid-column: 1
      &-links
        padding: 0
        padding-left: 3px
    &__additional
      padding: 0
      margin: 0
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      padding: 0
      margin: 0
      grid-row: 3
      grid-column: 1
    &__text
      margin-top: 24px
    &__contact
      &-details
        max-width: 90%
        padding: 0
        margin: 0
        margin-top: 10px
        grid-row: 6
        grid-column: 1
      &-form
        width: 100%
        padding-top: 5px
        grid-row: 7
        grid-column: 1
        margin-bottom: 0
    &__info
      width: 100%
      margin-bottom: 13px
    &__button 
      display: block
      order: 1
    &__bottom
      &-icon
        width: 136px
        grid-row: 8 / 9
        grid-column: 1
        align-self: end
        justify-self: start
        margin-top: 28px
      &-links
        display: block
        width: 100%
        grid-row: 8
        grid-column: 1
      &-link
        font-size: 11px
        margin-right: 13px
    &-icon
      padding: 0
      margin: 0
      &-wrapper
        min-width: 30px
    &__message
      margin-bottom: 13px
  .modal
    &__dialog
      min-width: 330px
@media (max-width: 340px)
  body
    padding-top: 58px
  .container
    max-width: 280px
  .hotel
    &__stars
      margin-right: 15px
      margin-top: 5px
    &-stars
      margin-right: 2px
    &-slider
      &__button
        &--prev
          left: 0
          background-image: url(../img/arrow-prev-phone.svg)
        &--next
          right: 0
          background-image: url(../img/arrow-next-phone.svg)
  .booking
    &__pricetag
      margin-bottom: -4px
    &__num
      margin-left: 8px
      margin-right: 2px
  .reviews
    padding-bottom: 73px
    &-slider
      &__item
        max-width: 280px
      &__text
        text-align: left
        max-height: 270px
  .newsletter
    &-wrapper
      margin-left: 19px
  .subscribe
    &__input
      padding-left: 22px
  .footer
    &__contact
      &-details
        max-width: 100%
      &-form
        padding: 0
        margin: 0
    &__icon
      margin: 0
      margin-top: 5px
      &-wrapper
        min-width: 30px
    &__item
      &--mb-2
        margin-bottom: 24px
        padding-right: 47px
      &--mb-0
        margin-bottom: 20px
    &__bottom
      &-links
        margin-top: -3px
      &-link
        margin-right: 11px
    &__button
      font-size: 12px
      line-height: 15px
    &__info
      padding-top: 0px
  .modal
    &__dialog
      min-width: 280px
    &__button
      max-width: 100px
